RewriteEngine On

# Deny access to internal dirs and files by passing the URL to Pico
RewriteRule ^(config|content|vendor|CHANGELOG\.md|composer\.(json|lock|phar))(/|$) index.php [L]
RewriteRule (^\.|/\.)(?!well-known(/|$)) index.php [L]

# Enable URL rewriting
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

RewriteRule ^test/.*$ - [F,L] # Prevent file browsing

# Controlling Access to Files
RewriteRule ^/.*\.(log|ini)$ - [F,L] # Deny access to .ini and .log files
RewriteRule xmlpc.php$ - [F,L] # Deny access to xmlpc.php file